<style>
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
</style>

<h1><b style="font-size: 30px;"><i>You asked to reset your password</i></b></h1>
<p style="font-size: 20px;">
  We received a request from you to request your password.<br>
  You have 1 hour from now to reset it using the following link:<br>
  <a href="{{link}}">{{link}}</a>
</p>
<div style="display: flex; align-items: center;">
  <img src="cid:image_cid" alt="Logo" style="width: 100px;" />
  <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 10px;">
    <h1 style="font-size: 24px;"><i>MasterBook <br> est. 2023</i></h1>
  </div>
</div>